@import 'variables.scss';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   width: 100%;
   height: 100%;
   font-size: 62.5%;
   line-height: 1.312;
}

body {
   width: 100%;
   height: 100%;
   font-family: 'Source Sans Pro', sans-serif;
   color: #FFFFFF;
   font-size: 100%;
}

.container {
   width: 80%;
   max-width: 92em;
   margin: 0 auto;
}

a:link, a:visited{
   text-decoration: none;
   color:  #5C5F7F;
}

@media all and (max-width: $l-screen) {
   html {
      font-size: 60%;
   }
}