
.icon-mail-circled:before { content: '\e800'; } /* '' */
.icon-quote-circled:before { content: '\e801'; } /* '' */
.icon-home-circled:before { content: '\e804'; } /* '' */
.icon-basket-circled:before { content: '\e807'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */